@import "null.scss";
@import "params.scss";
@import "swiper.scss";

@import "header.scss";

.managers {

  margin-bottom: clamp(32px, 2vw, 100px);

  &__title {
    font-family: "Cera Pro", Helvetica, sans-serif;
    font-size: clamp(24px, 2vw, 48px);
    font-weight: 500;
    margin: 0 0 30px;
    line-height: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    gap: 35px;

    @media (max-width: 767px) {
      gap: 15px;
    }

    @media (max-width: 479px) {
      gap: 8px;
    }

    > * {
      grid-column: 4 span;

      @media (max-width: 1500px) {
        grid-column: 6 span;
      }
    }

    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    line-height: 1;

    &__link {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: clamp(5px, 1vw, 30px);
      width: 100%;
      height: 100%;
      color: inherit;
      background-color: $azureColor;
      border-radius: 12px;
      transition: box-shadow 0.3s ease-in;


      &:hover, &:focus {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    &__img {
      margin-top: auto;
      padding: 30px 0 0 30px;

      @media (max-width: 767px) {
        padding: 0;
      }
    }

    &__info {
      padding: 30px 20px 30px 30px;

      @media (max-width: 479px) {
        padding: 10px 15px 10px 15px;
      }
    }

    &__name {
      font-size: clamp(20px, 2vw, 32px);
      line-height: 1.1;
      font-weight: 500;
      margin: 0 0 clamp(8px, 1vw, 20px);
    }

    &__desc {
      color: #696969;
      margin: 0 0 clamp(8px, 1vw, 20px);
    }
  }

  &-stats-item {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    margin: 0 0 clamp(8px, 1vw, 20px);

    &__exp {
      order: 1;

      &-value {
        font-size: 24px;
      }

      &-title {
        order: 2;
      }
    }

    &__rating {
      color: #696969;
      margin: 0 0 clamp(8px, 1vw, 20px);

      &-value {
        display: inline-flex;
        align-items: center;
        column-gap: 10px;
        font-size: 24px;
        margin-right: 10px;
        color: black;

        &::after {
          content: '';
          background: url('../img/icons/icon-star.svg') 0 0 no-repeat;
          display: inline-block;
          width: 17px;
          height: 15px;
        }
      }
    }

  }
}

.manager {
  background: $azureColor url('https://svgshare.com/i/1AHw.svg') 0 30px / 35% no-repeat;

  @media (max-width: 767px) {
    background: $azureColor;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    column-gap: 32px;
    padding-top: clamp(15px, 3vw, 25px);

    @media (max-width: 1300px) {
      padding-bottom: 20px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 10px;
      padding-bottom: 0;
    }
  }

  &__name {
    grid-column: 5/11;
    font-family: $fontHeading;
    font-size: clamp(28px, 3vw, 50px);
    margin: 0 0 clamp(8px, 1vw, 10px);

    @media (max-width: 1300px) {
      grid-column: 6/13;
    }

    @media (max-width: 767px) {
      grid-column: 1;
    }
  }

  &__img {
    grid-column: 1/5;
    grid-row: 1/3;
    margin-top: auto;

    @media (max-width: 1300px) {
      grid-column: 1/6;

    }

    @media (max-width: 767px) {
      grid-column: 1;
      grid-row: auto;
      order: 1;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &-info {

    grid-column: 5/11;

    @media (max-width: 1300px) {
      grid-column: 6/13;
      grid-row: span 2;
    }

    @media (max-width: 767px) {
      grid-column: 1;
      order: 3;
    }

    &__text {
      padding: 0 70px 70px 75px;

      @media (max-width: 1300px) {
        padding: 0 65px 0 0;
      }

      @media (max-width: 767px) {
        padding: 0;
      }
    }

    &__faq {
      position: relative;
      font-size: clamp(18px, 2vw, 24px);
      margin: 0 0 clamp(8px, 1vw, 10px);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -80px;
        width: 58px;
        height: 38px;
        background: url('https://svgshare.com/i/1AGY.svg') center / contain no-repeat;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    blockquote {
      p {
        color: $greyColor;
      }
    }

    &__owner {
      color: $greyColor;

      strong {
        color: $mainBlackColor;
      }
    }

    &__social-list {
      display: inline-flex;
      column-gap: 25px;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: 767px) {
        row-gap: 15px;
        flex-wrap: wrap;
        padding-bottom: 30px;
      }
    }

    &-social-item {

      &__link {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-weight: 400;
        padding: 14px 20px;
        font-size: 14px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &--vk {
        .manager-info-social-item {
          &__link {
            svg {
              fill: $mainWhiteColor;
            }
          }
        }
      }

      &--youtube {
        .manager-info-social-item {
          &__link {

            &:hover, &:focus {
              svg {
                fill: $redColor;
              }
            }

            svg {
              fill: $primary-color;
            }
          }
        }
      }
    }

  }

  &-stats {
    grid-column: 11/13;
    display: inline-flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 20px;

    @media (max-width: 1300px) {
      grid-column: 1/6;
      padding-top: 20px;
    }

    @media (max-width: 767px) {
      grid-column: 1;
      order: 2;
      flex-direction: row;
      column-gap: 10px;
      padding-top: 0;
    }

    &-item {
      display: inline-flex;
      align-items: center;
      column-gap: 8px;

      &__exp {
        order: 1;

        &-title {
          line-height: 1.2;
          max-width: 164px;
          order: 2;
        }

        &-value {
          font-size: clamp(32px, 3vw, 48px);
        }
      }

      &__rating {
        order: 1;

        &-title {
          display: inline-flex;
          flex-direction: column;
          order: 2;
        }

        &-stars {

          &::before {
            content: "★★★★";
            color: #EE4122;
          }

          &::after {
            content: "★";
            color: #D9D9D9;
          }
        }

        &-value {
          font-size: clamp(32px, 3vw, 48px);
        }
      }

    }
  }

  &-achievements {
    background-color: $default-third;

    &__list {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
      column-gap: 20px;
      row-gap: 20px;
      list-style: none;
      margin: 0;
      padding: clamp(20px, 3vw, 40px) 0 clamp(20px, 3vw, 40px);

      > * {
        grid-column: 3 span;
        margin: 0 auto;

        @media (max-width: 767px) {
          grid-column: 6 span;
        }
      }
    }

    &-item {
      display: flex;
      max-width: 356px;
      align-items: center;
      column-gap: clamp(5px, 1vw, 20px);

      @media (max-width: 767px) {
        column-gap: 10px;
      }

      &__svg-cnt {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 0 0 75px;
        height: 103px;

        svg {
          position: relative;
          width: 41px;
          height: 41px;
          left: -11px;

          @media (max-width: 767px) {

          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $primary-color;
          clip-path: polygon(100% 50%, 0 0, 0 100%);
        }

        @media (max-width: 767px) {
          flex: 0 0 47px;
          width: auto;
          height: 60px;
          margin-bottom: 0;

          svg {
            width: 25px;
            height: 25px;
            left: -8px;
          }
        }
      }

      &__text {
        font-family: $fontHeading;
        font-size: clamp(14px, 1vw, 22px);
        line-height: 1.5;
        font-weight: 600;
        margin: 0;

        @media (max-width: 767px) {

          line-height: 1.3;
        }
      }
    }
  }
}