@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
html,
body {
  height: 100%;
  min-width: 320px;
}

html {
  box-sizing: border-box;
}

body,
blockquote,
dl,
dd {
  margin: 0;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:not([class]):visited {
  color: #000000;
}
a:not([class]):hover, a:not([class]):focus {
  outline: none;
  cursor: pointer;
}
a:not([class]):active {
  opacity: 0.9;
}

* {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* ::after,
* ::before {
  box-sizing: inherit;
}

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus, a:active,
button:focus,
button:active {
  outline: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  color: #000;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: normal;
  font-style: normal;
  background-color: #ffffff;
}
@media (min-width: 1279px) {
  body.has-scrollbar {
    padding-right: calc(19px - (100vw - 100%));
  }
}
body > * {
  min-width: 0;
}
body.lock {
  overflow: hidden;
}
body > main {
  margin-top: 160px;
}
@media (max-width: 767px) {
  body > main {
    margin-top: 70px;
  }
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 35px;
}
@media (max-width: 1023px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}
.container--narrow {
  max-width: 1330px;
}
.container--wide {
  max-width: 1750px;
}
.container--narrowest {
  max-width: 750px;
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 19px 35px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #0094da;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  .btn {
    padding: 10px 8px;
  }
}
.btn:hover, .btn:focus {
  transition: all 0.2s ease-in-out;
  background-color: #ee4122;
  outline: none;
}
.btn:active {
  color: #e09284;
  background-color: #c0260a;
}
.btn:disabled {
  opacity: 0.3;
}
.btn:disabled:hover, .btn:disabled:focus {
  cursor: default;
}
.btn--white {
  padding: 17px 33px;
  color: #0094da;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.btn--white:hover, .btn--white:focus {
  color: #ffffff;
  background-color: transparent;
}
.btn--white:active {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.6;
}
.btn--move-lines {
  position: relative;
  border: none;
}
.btn--move-lines::before, .btn--move-lines::after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: -1;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 40px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  animation: steam 20s linear infinite;
}
.btn--move-lines::after {
  filter: blur(50px);
}
.btn--mini, .btn--h40 {
  min-width: 110px;
  padding: 6px 16px 8px;
  font-size: 14px;
}
.btn--h40 {
  padding: 12px 16px 14px;
}
.btn--compares {
  display: flex;
  align-items: center;
  min-width: auto;
  padding: 0;
  color: #0094da;
  background-color: transparent;
}
.btn--compares:hover, .btn--compares:focus {
  color: #ee4122;
  background-color: transparent;
}
.btn--compares:hover svg, .btn--compares:focus svg {
  fill: #ee4122;
}
.btn--compares:active {
  color: #e09284;
  background-color: transparent;
}
.btn--compares svg {
  fill: #0094da;
  margin-right: 10px;
}
.btn--compares-remove {
  color: #ee4122;
}
.btn--compares-remove svg {
  fill: #ee4122;
}
.btn--arrow, .btn--arrow-right, .btn--simple {
  min-width: auto;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
}
.btn--arrow:hover, .btn--arrow:focus, .btn--arrow-right:hover, .btn--arrow-right:focus, .btn--simple:hover, .btn--simple:focus {
  background-color: transparent;
}
.btn--arrow:active, .btn--arrow-right:active, .btn--simple:active {
  background-color: transparent;
}
.btn--arrow svg, .btn--arrow-right svg, .btn--simple svg {
  transition: transform 0.2s ease-in 0s;
  margin-left: 10px;
  fill: transparent;
  stroke: #0094da;
}
.btn--arrow, .btn--simple {
  color: #0094da;
}
@media (max-width: 767px) {
  .btn--arrow, .btn--simple {
    padding: 0;
  }
}
@media (max-width: 479px) {
  .btn--arrow, .btn--simple {
    padding: 0;
  }
}
.btn--arrow:hover, .btn--arrow:focus, .btn--simple:hover, .btn--simple:focus {
  color: #ee4122;
}
.btn--arrow:hover svg, .btn--arrow:focus svg, .btn--simple:hover svg, .btn--simple:focus svg {
  transition: all 0.2s ease-in 0s;
  stroke: #ee4122;
  animation: up-down-little 1.7s infinite ease;
}
@media (max-width: 1023px) {
  .btn--arrow:hover svg, .btn--arrow:focus svg, .btn--simple:hover svg, .btn--simple:focus svg {
    animation: none;
  }
}
.btn--arrow:active, .btn--simple:active {
  color: #e09284;
  background-color: transparent;
}
.btn--arrow svg, .btn--simple svg {
  transition: all 0.2s ease-in 0s;
  margin-left: 10px;
  fill: transparent;
  stroke: #0094da;
}
.btn--arrow-right {
  position: relative;
  padding-right: 50px;
  color: #ffffff;
}
.btn--arrow-right:hover .svg, .btn--arrow-right:focus .svg {
  transition: transform 0.2s ease-in 0s;
  transform: translateX(15px) scale(1.4);
}
.btn--arrow-right:active {
  color: #ffffff;
}
.btn--arrow-right .svg {
  position: absolute;
  top: -3px;
  transition: all 0.2s ease-in 0s;
  margin-left: 10px;
  fill: #ffffff;
  stroke: transparent;
}
.btn--arrow-right .svg--dark {
  fill: #0094da;
}
.btn--arrow-right-bg {
  display: inline-flex;
  align-items: center;
  min-width: auto;
  padding: 9px 16px;
  font-size: 16px;
  background-color: #ee4122;
}
@media (max-width: 47px) {
  .btn--arrow-right-bg {
    padding: 3px 2px 4px 10px;
    font-size: 10px;
  }
}
.btn--arrow-right-bg:hover, .btn--arrow-right-bg:focus {
  box-shadow: inset 8.8rem 0 0 0 #0085c3;
}
@media (max-width: 767px) {
  .btn--arrow-right-bg:hover, .btn--arrow-right-bg:focus {
    box-shadow: none;
  }
}
.btn--arrow-right-bg:hover .svg, .btn--arrow-right-bg:focus .svg {
  transition: transform 0.2s ease-in 0s;
  transform: translateX(10px) scale(1.3);
}
@media (max-width: 47px) {
  .btn--arrow-right-bg:hover .svg, .btn--arrow-right-bg:focus .svg {
    transform: none;
  }
}
.btn--arrow-right-bg svg {
  transition: transform 0.2s ease-in 0s;
  margin-left: 3px;
  fill: #ffffff;
}
@media (max-width: 47px) {
  .btn--arrow-right-bg svg {
    width: 20px;
  }
}
.btn--form {
  display: flex;
  align-items: center;
  min-width: auto;
  padding: 16px 42px;
  border-radius: 0;
}
@media (max-width: 1279px) {
  .btn--form {
    font-size: 16px;
  }
}
@media (max-width: 1151px) {
  .btn--form {
    padding: 16px 24px;
  }
}
@media (max-width: 767px) {
  .btn--form {
    min-width: 134px;
    padding: 6px 15px;
  }
}
@media (max-width: 47px) {
  .btn--form {
    min-width: 120px;
  }
}
.btn--form:hover, .btn--form:focus {
  background-color: #ee4122;
}
.btn--form:hover svg, .btn--form:focus svg {
  transition: all 0.2s ease-in 0s;
}
.btn--form:active {
  color: #ffffff;
  background-color: #ee4122;
  opacity: 0.8;
}
.btn--form svg {
  transition: all 0.25s ease-in 0s;
  margin-left: 10px;
  fill: #ffffff;
}
.btn--form-white {
  width: 100%;
  padding: 14px 26px;
  font-size: 16px;
  color: #0094da;
  background-color: #ffffff;
}
.btn--form-white:hover, .btn--form-white:focus {
  color: #ffffff;
  background-color: #0085c3;
}
.btn--form-white:active {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.6;
}
.btn--border, .btn--filter, .btn--cart {
  display: flex;
  align-items: center;
  min-width: auto;
  font-size: 14px;
  font-weight: 400;
  color: #0094da;
  background-color: transparent;
  border: 1px solid #0094da;
}
.btn--border:hover, .btn--border:focus, .btn--filter:hover, .btn--filter:focus, .btn--cart:hover, .btn--cart:focus {
  color: #ffffff;
  background-color: #0094da;
}
.btn--border:hover .icon-svg, .btn--border:focus .icon-svg, .btn--filter:hover .icon-svg, .btn--filter:focus .icon-svg, .btn--cart:hover .icon-svg, .btn--cart:focus .icon-svg {
  transition: fill 0.2s ease-in;
  fill: #ffffff;
}
.btn--border:active, .btn--filter:active, .btn--cart:active {
  opacity: 0.9;
}
.btn--border .icon-svg, .btn--filter .icon-svg, .btn--cart .icon-svg {
  margin-left: 5px;
  transition: fill 0.2s ease-in;
  fill: #0094da;
}
.btn--border {
  padding: 14px 20px;
}
.btn--filter {
  min-width: 110px;
  padding: 12px 15px;
  color: #000000;
  border-radius: 6px;
}
.btn--filter .icon-svg {
  margin: 0 10px 0 0;
  fill: #000000;
}
.btn--cart {
  padding: 9px 20px;
}
@media (max-width: 1659px) {
  .btn--cart {
    padding: 9px 16px;
  }
}
.btn--narrow {
  min-width: 190px;
  padding: 14px 20px;
  font-size: 16px;
}
@media (max-width: 1279px) {
  .btn--narrow {
    min-width: 150px;
  }
}
@media (max-width: 767px) {
  .btn--narrow {
    min-width: 130px;
    padding: 14px 20px;
  }
}
@media (max-width: 47px) {
  .btn--narrow {
    padding: 14px 20px;
  }
}
.btn--del {
  background-color: transparent;
  border: none;
}
.btn--red {
  background-color: #ee4122;
}
.btn--red:hover, .btn--red:focus {
  background-color: #0094da;
}
.btn--anim {
  position: relative;
}
.btn--anim::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  bottom: -5px;
  left: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));
  transform: skew(-20deg) translateX(-200%);
  animation: shine 3s both infinite;
}
.btn--icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  padding: 8px 16px;
  font-size: clamp(15px, 1.2vw, 18px);
  border: 2px solid #ffffff;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.2s ease;
}
@media (hover: hover) {
  .btn--icon:hover, .btn--icon:focus {
    color: #0094da;
    background-color: transparent;
    box-shadow: inset 0 0 0 20px rgb(255, 255, 255);
    transition: box-shadow 0.4s ease, background-color 0.3s ease, color 0.2s ease;
  }
  .btn--icon:hover svg, .btn--icon:focus svg {
    fill: #0094da;
  }
}
.btn--icon svg {
  fill: #ffffff;
  transition: fill 0.3s ease;
}
.btn--stock {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: auto;
  padding: 4px 10px;
  font-family: "Cera Pro", Helvetica, sans-serif;
  font-size: clamp(12px, 1.2vw, 16px);
  background-color: #ee4122;
  box-shadow: inset 0 0 0 2px rgba(245, 248, 255, 0);
  border: 2px solid #ee4122;
  transition: box-shadow 0.6s ease, background-color 0.4s ease 0.1s, color 0.2s ease, border 0.3s ease;
}
@media (max-width: 767px) {
  .btn--stock {
    padding: 4px 10px;
  }
}
@media (max-width: 479px) {
  .btn--stock {
    padding: 4px 10px;
  }
}
@media (hover: hover) {
  .btn--stock:hover, .btn--stock:focus {
    color: #ee4122;
    background-color: transparent;
    box-shadow: inset 0 0 0 16px rgb(245, 248, 255);
    transition: box-shadow 0.4s ease, background-color 0.2s ease 0.2s, color 0.2s ease;
  }
}
.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  border-radius: 0;
  transition: transform 0.2s ease-in;
}
.btn-close:hover, .btn-close:focus {
  transition: transform 0.2s ease-in;
  outline: none;
  transform: scale(1.1);
}
.btn-close::before, .btn-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 36px;
  height: 4px;
  background-color: #000000;
}
.btn-close::before {
  transform: rotate(45deg);
}
.btn-close::after {
  transform: rotate(-45deg);
}
.btn__wrapper {
  text-align: center;
}
.btn-wrap {
  margin: 32px 0;
  text-align: center;
}
.btn--mistakes {
  font-size: 14px;
  min-width: auto;
  width: 100%;
  font-weight: 400;
  padding: 12px 0;
  background-color: #0094da;
  color: #ffffff;
}
.btn--mistakes:nth-child(2) {
  background-color: #ee4122;
}
@media (any-hover: hover) {
  .btn--mistakes:hover, .btn--mistakes:focus {
    color: #ffffff;
  }
  .btn--mistakes:hover:first-child, .btn--mistakes:focus:first-child {
    background-color: #00537a;
  }
  .btn--mistakes:hover:nth-child(2), .btn--mistakes:focus:nth-child(2) {
    background-color: #c0260a;
  }
}
.btn--center {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  transition: background-color 0.3s;
}
@media (max-width: 767px) {
  .btn--center {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .btn--reviews {
    min-width: 130px;
  }
}
.btn--products {
  transition: background-color 0.3s;
}
.btn.--reviews-tab-active {
  background-color: #ee4122;
}

.visually-hidden {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: opacity 0.3s ease-in, background-color 0.3s ease-in, transform 0.3s ease-in, box-shadow 0.3s ease-in;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "";
}
.swiper-button-prev:hover, .swiper-button-prev:focus, .swiper-button-next:hover, .swiper-button-next:focus {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  outline: none;
}
.swiper-button-prev {
  background: rgb(255, 255, 255) url("https://svgshare.com/i/18u5.svg") center/12px no-repeat;
}
.swiper-button-next {
  background: rgb(255, 255, 255) url("https://svgshare.com/i/18tt.svg") center/12px no-repeat;
}
.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper--banner {
  position: relative;
  border-radius: 12px;
  height: 100%;
}
.swiper--banner:hover .swiper-button-prev, .swiper--banner:hover .swiper-button-next, .swiper--banner:focus .swiper-button-prev, .swiper--banner:focus .swiper-button-next {
  opacity: 1;
}
.swiper--banner .swiper-button-prev, .swiper--banner .swiper-button-next {
  top: 51%;
  opacity: 0;
}
.swiper--banner .swiper-button-prev {
  left: 10px;
}
.swiper--banner .swiper-button-next {
  right: 10px;
}
.swiper--banner .swiper-pagination {
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 10px;
}
.swiper--banner .swiper-pagination-bullet {
  margin-right: 10px;
  border-radius: 50%;
}
.swiper--about {
  position: static;
}
.swiper--about .swiper-button-prev, .swiper--about .swiper-button-next {
  top: 27px;
}
.swiper--about .swiper-button-prev {
  left: auto;
  right: 63px;
}
.swiper--about .swiper-button-next {
  left: auto;
  right: 7px;
}
.swiper--categories {
  position: static;
}
.swiper--categories .swiper-button-prev, .swiper--categories .swiper-button-next {
  top: 25px;
}
.swiper--categories .swiper-button-prev {
  left: auto;
  right: 98px;
}
.swiper--categories .swiper-button-next {
  left: auto;
  right: 42px;
}
.swiper--blogger {
  position: static;
}
.swiper--blogger .swiper-button-prev, .swiper--blogger .swiper-button-next {
  top: inherit;
  bottom: -48px;
}
.swiper--blogger .swiper-button-prev {
  left: auto;
  right: 98px;
}
.swiper--blogger .swiper-button-next {
  left: auto;
  right: 42px;
}
.swiper--blogger .swiper-scrollbar {
  position: absolute;
  left: 33px;
  bottom: -35px;
  width: 88%;
  height: 2px;
  z-index: 18;
}
.swiper--blogger .swiper-scrollbar-drag {
  top: -2px;
  height: 5px;
  background: #2e1b1b;
  cursor: pointer;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  transition: top 0.3s ease-in 0.1s;
  z-index: 20;
}
@media (min-width: 1025px) {
  .main-header-top.has-scrollbar {
    padding-right: calc(17px - (100vw - 100%));
  }
}
.main-header-top__wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .main-header-top__wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .main-header-top__wrapper {
    padding: 0;
  }
}
.main-header-top-geo {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .main-header-top-geo {
    display: none;
  }
}
.main-header-top-geo__city {
  font-size: 13px;
  display: flex;
  align-items: center;
}
.main-header-top-geo__icon {
  margin-right: 5px;
}
.main-header-top__menu-btn {
  display: none;
}
@media (max-width: 1024px) {
  .main-header-top__menu-btn {
    display: block;
    position: absolute;
    top: 13px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
    background-color: inherit;
    border: 0;
  }
  .main-header-top__menu-btn span, .main-header-top__menu-btn::before, .main-header-top__menu-btn::after {
    content: "";
    transition: all 0.3s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
  .main-header-top__menu-btn::before {
    top: 0;
  }
  .main-header-top__menu-btn::after {
    bottom: 0;
  }
  .main-header-top__menu-btn span {
    top: calc(50% - 0.0625rem);
  }
  .main-nav-open .main-header-top__menu-btn span {
    width: 0;
  }
  .main-nav-open .main-header-top__menu-btn::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .main-nav-open .main-header-top__menu-btn::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}
@media (max-width: 767px) {
  .main-header-top__menu-btn {
    top: 18px;
    right: 15px;
  }
}
.main-header-bottom {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  transition: background-color 0.3s;
}
@media (min-width: 1025px) {
  .main-header-bottom.has-scrollbar {
    padding-right: calc(17px - (100vw - 100%));
  }
}
.main-header-bottom__wrapper {
  display: flex;
  align-items: center;
}
.main-header-bottom__logo {
  margin-right: clamp(10px, 2vw, 40px);
  flex: 0 0 auto;
  transition: opacity 0.3s;
}
@media (max-width: 767px) {
  .main-header-bottom__logo {
    order: 1;
  }
}
.main-header-bottom__logo-img {
  width: auto;
}
.main-header-bottom__catalog-list {
  list-style: none;
  padding: 0;
  margin: 0 40px 0 60px;
}
@media (max-width: 1024px) {
  .main-header-bottom__catalog-list {
    display: none;
  }
}
.main-header-bottom-search {
  flex: 1 1 auto;
}
@media (max-width: 767px) {
  .main-header-bottom-search {
    order: 3;
    margin-right: 35px;
  }
}
.main-header-bottom-search-form {
  position: relative;
  max-width: 525px;
}
@media (max-width: 767px) {
  .main-header-bottom-search-form {
    display: none;
    margin-bottom: 20px;
    max-width: 100%;
  }
}
.main-header-bottom-search-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid #a7a7a7;
  padding: 11px 90px 11px 13px;
  border-radius: 12px;
  transition: opacity 0.3s;
  box-sizing: border-box;
}
.main-header-bottom-search-form__input:focus {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgb(255, 255, 255);
  outline: 2px solid #0094da;
}
.main-header-bottom-search-form__btn {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  border-radius: 12px;
  background-color: inherit;
  transition: background-color 0.3s ease-in;
}
.main-header-bottom-search-form__btn:hover, .main-header-bottom-search-form__btn:focus {
  background-color: rgba(128, 128, 128, 0.1882352941);
}
.main-header-bottom-search-form__btn--close {
  right: 50px;
}
.main-header-bottom-search-form__btn--close svg {
  fill: #ee4122;
  width: 25px;
  height: 25px;
}
.main-header-bottom-search-form__btn--close::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -6px;
  width: 1px;
  height: 24px;
  background: #d9d9d9;
  background-size: cover;
}
.main-header-bottom-search-form__btn--search svg {
  fill: #0094da;
  width: 30px;
  height: 30px;
}
.main-header-bottom__search-btn-list {
  list-style: none;
  order: 3;
  padding: 0;
  margin: 0 40px 0 auto;
}
@media (min-width: 768px) {
  .main-header-bottom__search-btn-list {
    display: none;
  }
}
.main-header-bottom-search-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: inherit;
  border-radius: 12px;
  border: none;
  transition: background-color 0.3s ease-in;
  padding: 0;
}
.main-header-bottom-search-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://svgshare.com/i/19xX.svg) 3px/86% no-repeat;
}
.main-header-bottom-search-btn:hover, .main-header-bottom-search-btn:focus {
  background-color: rgba(128, 128, 128, 0.1882352941);
}
@media (max-width: 767px) {
  .main-header-bottom-search-btn.--spoiler-active + .main-header-bottom-search-content {
    opacity: 1;
    visibility: visible;
  }
  .main-header-bottom-search-btn.--spoiler-active + .main-header-bottom-search-content form {
    display: block;
  }
  .main-header-bottom-search-btn.--spoiler-active::before {
    content: "";
    background: url(https://svgshare.com/i/19yY.svg) 3px/86% no-repeat;
  }
}
@media (max-width: 767px) {
  .main-header-bottom-search-content {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    max-height: 85dvh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 12px 11px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    transition: opacity 0.3s;
    padding: 20px 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.1215686275);
    opacity: 0;
    visibility: hidden;
  }
}
.main-header-bottom-contacts {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .main-header-bottom-contacts {
    order: 2;
    color: #6d6c6c;
    margin-left: 5px;
  }
}
.main-header-bottom-contacts__phone-value {
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
  color: inherit;
}
@media (any-hover: hover) {
  .main-header-bottom-contacts__phone-value:hover {
    color: #0094da;
  }
}
@media (min-width: 1025px) {
  .main-header-bottom-contacts__phone-value:focus {
    color: #0094da;
  }
}
@media (max-width: 767px) {
  .main-header-bottom-contacts__phone-value {
    font-size: 14px;
  }
}
.main-header-bottom-contacts__mail {
  align-self: center;
}
@media (max-width: 767px) {
  .main-header-bottom-contacts__mail {
    display: none;
  }
}
.main-header-bottom-contacts__mail-value {
  font-weight: 500;
  transition: color 0.3s;
  padding-left: 5px;
  color: #6d6c6c;
}
@media (any-hover: hover) {
  .main-header-bottom-contacts__mail-value:hover {
    color: #0094da;
  }
}
@media (min-width: 1025px) {
  .main-header-bottom-contacts__mail-value:focus {
    color: #0094da;
  }
}

.main-nav {
  display: flex;
  flex: 1 1 auto;
}
@media (max-width: 1024px) {
  .main-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 84dvh;
    top: 119px;
    left: -120%;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(121, 121, 121, 0.1215686275);
    transition: left 0.3s;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .main-nav {
    top: 53px;
  }
}
@media (max-width: 1024px) {
  .main-nav-open .main-nav {
    left: 0;
    box-shadow: 0 68px 0 rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .main-nav-open .main-nav {
    padding-bottom: 450px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .main-nav-open .main-nav {
    padding-bottom: 50px;
  }
}
.main-nav__list {
  display: flex;
  flex: 1 1 auto;
  min-height: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  .main-nav__list {
    display: block;
    min-height: auto;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .main-nav-item {
    border-bottom: 1px solid rgba(121, 121, 121, 0.1215686275);
  }
}
.main-nav-item__link {
  font-size: 14px;
  line-height: 1.1;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  height: 100%;
  transition: background-color 0.3s;
  padding: 0 10px;
  white-space: nowrap;
  color: #0094da;
}
.main-nav-item__link svg {
  margin-left: 5px;
  transition: transform 0.3s;
}
.main-nav-item__link::before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 23px;
  right: 10px;
  transform: rotate(180deg);
  background: url("https://svgshare.com/i/14bH.svg") 0 0/contain no-repeat;
  transition: transform 0.3s, right 0.1s, top 0.1s, opacity 0.3s ease-in 0.1s;
}
@media (max-width: 1024px) {
  .main-nav-item__link::before {
    top: 14px;
    right: 3px;
  }
}
@media (max-width: 1024px) {
  .main-nav-item__link {
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    display: block;
    text-align: left;
  }
  .main-nav-item__link svg {
    position: absolute;
    right: 3px;
  }
}
@media (any-hover: hover) {
  .main-nav-item__link:focus, .main-nav-item__link:hover {
    color: #0094da;
    background-color: #E7F0FB;
  }
}
.main-nav-item__link:hover {
  cursor: pointer;
}
@media (min-width: 1025px) {
  .main-nav-item__link.--spoiler-active {
    background-color: #E7F0FB;
  }
}
@media (max-width: 1024px) {
  .main-nav-item__link.--spoiler-active::before {
    opacity: 1;
    transform: rotate(90deg);
    top: 10px;
    right: -1px;
  }
}
@media (max-width: 1024px) {
  .main-nav-item__link.--spoiler-active svg {
    transition: transform 0.3s;
    transform: rotate(-90deg);
  }
}
.main-nav-item__link.--spoiler-active + .main-nav-item-content {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1024px) {
  .main-nav-item__link.--spoiler-active + .main-nav-item-content {
    max-height: 3000px;
  }
}
.main-nav-item__link.--spoiler-active + .main-nav-item-content .main-nav-item-content__list {
  top: 0;
}
.main-nav-item__link.--spoiler-active + .main-nav-item-content .main-nav-item-content-media {
  top: 0;
}
.main-nav-item__wrapper {
  position: absolute;
  top: 50px;
  max-height: 75dvh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 12px 11px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  z-index: 1;
  /* Создание кастомной полосы прокрутки */
}
.main-nav-item__wrapper::-webkit-scrollbar {
  width: 5px; /* Ширина полосы прокрутки */
}
.main-nav-item__wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; /*Цвет фона дорожки полосы прокрутки */
}
.main-nav-item__wrapper::-webkit-scrollbar-thumb {
  background: #c4c4c4; /*Цвет полосы прокрутки */
  border-radius: 5px;
  transition: background 0.3s ease-in 0s;
}
.main-nav-item__wrapper::-webkit-scrollbar-thumb:hover {
  background: #565656; /*Цвет полосы прокрутки при наведении */
}
@media (max-width: 1024px) {
  .main-nav-item__wrapper {
    position: static;
    overflow: hidden;
    max-height: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 0 0;
    transition: opacity 0.3s, max-height 0.3s, visibility 0.3s;
  }
}
.main-nav-item--special .main-nav-item__link {
  color: #ee4122;
}
.main-nav-item--special .main-nav-item__link span {
  margin-right: 5px;
}
@media (min-width: 1025px) {
  .main-nav-item--catalog .main-nav-item__link {
    gap: 10px;
    color: rgb(255, 255, 255);
    background-color: #0094da;
    border-radius: 12px;
    padding: 14px 24px;
    transition: opacity 0.3s;
  }
  .main-nav-item--catalog .main-nav-item__link svg {
    display: none;
  }
  .main-nav-item--catalog .main-nav-item__link.--spoiler-active span.main-nav-item__link-icon span {
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-in;
    background-color: black;
  }
  .main-nav-item--catalog .main-nav-item__link.--spoiler-active span.main-nav-item__link-icon span:first-child {
    transform: rotate(45deg) translate(1px, -4px);
  }
  .main-nav-item--catalog .main-nav-item__link.--spoiler-active span.main-nav-item__link-icon span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .main-nav-item--catalog .main-nav-item__link.--spoiler-active span.main-nav-item__link-icon span:nth-child(3) {
    transform: rotate(45deg) translate(7px, -4px);
    width: 11px;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon {
    display: block;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon span {
    display: block;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-out;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon span:not(:last-child) {
    margin-bottom: 4px;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon span:first-child {
    transform-origin: 0 50%;
    width: 11px;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon span:nth-child(2) {
    width: 22px;
  }
  .main-nav-item--catalog .main-nav-item__link span.main-nav-item__link-icon span:nth-child(3) {
    transform-origin: 108% 45%;
    width: 17px;
  }
  .main-nav-item--catalog .main-nav-item__link:hover, .main-nav-item--catalog .main-nav-item__link:focus {
    background-color: #00537a;
  }
  .main-nav-item--catalog .main-nav-item__link.--spoiler-active {
    color: black;
    background-color: #cccccc;
  }
}
.main-nav-item-content__list {
  position: relative;
  list-style: none;
  padding: 0;
  top: -15px;
  transition: top 0.3s, opacity 0.3s;
}
@media (max-width: 1024px) {
  .main-nav-item-content__list {
    top: -10px;
  }
}
.main-nav-item-content__link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 17px 24px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
  color: inherit;
  line-height: 1;
}
@media (any-hover: hover) {
  .main-nav-item-content__link:hover {
    color: #0094da;
    background-color: #EEF1F4;
  }
}
@media (min-width: 1025px) {
  .main-nav-item-content__link:focus {
    color: #0094da;
    background-color: #EEF1F4;
  }
}
@media (max-width: 1024px) {
  .main-nav-item-content__link {
    display: block;
    width: 100%;
    padding: 8px 0;
    letter-spacing: 0;
  }
}
@media (max-width: 767px) {
  .main-nav-item-content__link {
    font-size: 12px;
  }
}
.main-nav-item-content--exhibitions .main-nav-item-content__list {
  list-style: none;
  column-count: 2;
  padding: 0;
}
@media (min-width: 1025px) {
  .main-nav-item-content--products {
    display: flex;
    column-gap: 30px;
    top: 125px;
    left: 0;
    width: auto;
    max-height: none;
    height: 80dvh;
    border-radius: 0;
    padding: 30px 25px 30px min(4vw, 70px);
    z-index: -1;
  }
}
.main-nav-item-content--products .main-nav-item-content__list {
  display: flex;
  flex-direction: column;
  flex: 0 0 375px;
}
@media (min-width: 1025px) {
  .main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active .main-nav-item-content-item__link {
    color: rgb(255, 255, 255);
  }
}
.main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active .main-nav-item-content-item__arrow {
  visibility: visible;
  fill: rgb(255, 255, 255);
}
.main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active .main-nav-item-content-item__image {
  transform: scale(1.2);
}
@media (min-width: 1025px) {
  .main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active {
    background-color: #0094da;
    border-radius: 12px;
  }
}
@media (max-width: 1024px) {
  .main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active {
    color: inherit;
  }
  .main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active .main-nav-item-content-item__arrow {
    visibility: hidden;
  }
  .main-nav-item-content--products .main-nav-item-content-item.main-nav-tab-active .main-nav-item-content-item__image {
    transform: scale(1);
  }
}
.main-nav-item-content--products .main-nav-item-content-item__link {
  display: flex;
  align-items: center;
  padding: 6px 4px;
  color: inherit;
  border-radius: 12px;
}
@media (min-width: 1025px) and (min-width: 1025px) {
  .main-nav-item-content--products .main-nav-item-content-item__link:hover, .main-nav-item-content--products .main-nav-item-content-item__link:focus {
    color: rgb(255, 255, 255);
    background-color: #0094da;
  }
  .main-nav-item-content--products .main-nav-item-content-item__link:hover .main-nav-item-content-item__image, .main-nav-item-content--products .main-nav-item-content-item__link:focus .main-nav-item-content-item__image {
    transform: scale(1.2);
  }
}
@media (max-width: 1024px) {
  .main-nav-item-content--products .main-nav-item-content-item__link {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .main-nav-item-content--products .main-nav-item-content-item__link {
    font-size: 12px;
  }
}
.main-nav-item-content--products .main-nav-item-content-item__image {
  transition: transform 0.3s;
  margin-right: 8px;
}
.main-nav-item-content--products .main-nav-item-content-item__arrow {
  display: flex;
  height: 100%;
  visibility: hidden;
  transform: rotate(-90deg);
  margin-left: auto;
}
.main-nav-item-content--products .main-nav-item-content-media {
  position: relative;
  top: -15px;
  flex: 0 1 auto;
  transition: top 0.3s;
  border-left: 1px #cccccc solid;
  overflow-y: auto;
  /* Создание кастомной полосы прокрутки */
}
.main-nav-item-content--products .main-nav-item-content-media::-webkit-scrollbar {
  width: 5px; /* Ширина полосы прокрутки */
}
.main-nav-item-content--products .main-nav-item-content-media::-webkit-scrollbar-track {
  background: #f1f1f1; /*Цвет фона дорожки полосы прокрутки */
}
.main-nav-item-content--products .main-nav-item-content-media::-webkit-scrollbar-thumb {
  background: #c4c4c4; /*Цвет полосы прокрутки */
  border-radius: 5px;
  transition: background 0.3s ease-in 0s;
}
.main-nav-item-content--products .main-nav-item-content-media::-webkit-scrollbar-thumb:hover {
  background: #565656; /*Цвет полосы прокрутки при наведении */
}
@media (max-width: 1024px) {
  .main-nav-item-content--products .main-nav-item-content-media {
    display: none;
  }
}
.main-nav-item-content--products .main-nav-item-content-media__wrapper {
  padding: 0 30px;
}
.main-nav-item-content--products .main-nav-item-content-media__image {
  margin-bottom: 20px;
  border-radius: 20px;
  background: -webkit-linear-gradient(360deg, #00b7ff 3%, rgb(247, 247, 247));
}
.main-nav-item-content--products .main-nav-item-content-media__title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 6px;
  max-width: 500px;
  line-height: 1;
}
.main-nav-item-content--products .main-nav-item-content-media__desc {
  font-size: 20px;
  color: #9c9a9a;
  max-width: 500px;
  margin-bottom: 25px;
  margin-top: 0;
}
.main-nav-item-content--products .main-nav-item-content-media__list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.main-nav-item-content--products .main-nav-item-content-media-item:last-child .main-nav-item-content-media-item__link {
  color: #0094da;
}
.main-nav-item-content--products .main-nav-item-content-media-item:last-child .main-nav-item-content-media-item__link:hover, .main-nav-item-content--products .main-nav-item-content-media-item:last-child .main-nav-item-content-media-item__link:focus {
  color: #ee4122;
}
.main-nav-item-content--products .main-nav-item-content-media-item__link {
  display: block;
  width: 100%;
  color: #6d6c6c;
  transition: color 0.3s ease-in;
  padding: 6px 0;
}
.main-nav-item-content--products .main-nav-item-content-media-item__link:hover, .main-nav-item-content--products .main-nav-item-content-media-item__link:focus {
  color: #0094da;
}
.main-nav-item-content--products .main-nav-item-content-media__banner-link {
  display: block;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 15px;
}
.main-nav-item-content--products .main-nav-item-content-media__banner-link:hover .main-nav-item-content-media__banner-img, .main-nav-item-content--products .main-nav-item-content-media__banner-link:focus .main-nav-item-content-media__banner-img {
  transform: scale(1.1);
}
.main-nav-item-content--products .main-nav-item-content-media__banner-img {
  transition: transform 0.3s ease-in;
}
@media (min-width: 1025px) {
  .main-nav-social-header {
    margin-left: auto;
    align-self: center;
  }
}
@media (max-width: 1024px) {
  .main-nav-social-header {
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.main-nav-social-header__list {
  display: flex;
  column-gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1025px) {
  .main-nav-social-header__item--vk {
    display: none;
  }
}
.main-nav-social-header__item--vk svg {
  fill: rgb(0, 119, 255);
}
.main-nav-social-header__item--telegram svg {
  fill: #25a0dd;
}
@media (min-width: 1025px) {
  .main-nav-social-header__item--whatsapp {
    display: none;
  }
}
.main-nav-social-header__link {
  display: flex;
}
@media (min-width: 1025px) {
  .main-nav-social-header__link:focus svg {
    transform: scale(1.3);
  }
}
@media (min-width: 1025px) {
  .main-nav-social-header__link svg {
    transition: transform 0.3s ease-in 0s;
  }
}
@media (min-width: 1025px) and (any-hover: hover) {
  .main-nav-social-header__link svg:hover {
    transform: scale(1.3);
  }
}
@media (min-width: 1025px) {
  .main-nav-mobile-contacts {
    display: none;
  }
}
@media (max-width: 1024px) {
  .main-nav-mobile-contacts {
    padding: 0 10px;
  }
}
.main-nav-mobile-contacts a {
  font-weight: 500;
  color: inherit;
}
.main-nav-mobile-contacts__item {
  margin-bottom: 12px;
}
.main-nav-mobile-contacts__term {
  font-weight: 400;
  color: #9c9a9a;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, left 0.3s, top 0.3s, width 0.3s, background-color 0.3s, height 0.3s, visibility 0.3s;
  z-index: 11;
}
.overlay.--active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.4);
}

.managers {
  margin-bottom: clamp(32px, 2vw, 100px);
}
.managers__title {
  font-family: "Cera Pro", Helvetica, sans-serif;
  font-size: clamp(24px, 2vw, 48px);
  font-weight: 500;
  margin: 0 0 30px;
  line-height: 1;
}
.managers__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .managers__list {
    gap: 15px;
  }
}
@media (max-width: 479px) {
  .managers__list {
    gap: 8px;
  }
}
.managers__list > * {
  grid-column: 4 span;
}
@media (max-width: 1500px) {
  .managers__list > * {
    grid-column: 6 span;
  }
}
.managers-item {
  line-height: 1;
}
.managers-item__link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: clamp(5px, 1vw, 30px);
  width: 100%;
  height: 100%;
  color: inherit;
  background-color: #F3F8FF;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in;
}
.managers-item__link:hover, .managers-item__link:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .managers-item__link {
    grid-template-columns: 1fr;
  }
}
.managers-item__img {
  margin-top: auto;
  padding: 30px 0 0 30px;
}
@media (max-width: 767px) {
  .managers-item__img {
    padding: 0;
  }
}
.managers-item__info {
  padding: 30px 20px 30px 30px;
}
@media (max-width: 479px) {
  .managers-item__info {
    padding: 10px 15px 10px 15px;
  }
}
.managers-item__name {
  font-size: clamp(20px, 2vw, 32px);
  line-height: 1.1;
  font-weight: 500;
  margin: 0 0 clamp(8px, 1vw, 20px);
}
.managers-item__desc {
  color: #696969;
  margin: 0 0 clamp(8px, 1vw, 20px);
}
.managers-stats-item {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  margin: 0 0 clamp(8px, 1vw, 20px);
}
.managers-stats-item__exp {
  order: 1;
}
.managers-stats-item__exp-value {
  font-size: 24px;
}
.managers-stats-item__exp-title {
  order: 2;
}
.managers-stats-item__rating {
  color: #696969;
  margin: 0 0 clamp(8px, 1vw, 20px);
}
.managers-stats-item__rating-value {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  font-size: 24px;
  margin-right: 10px;
  color: black;
}
.managers-stats-item__rating-value::after {
  content: "";
  background: url("../img/icons/icon-star.svg") 0 0 no-repeat;
  display: inline-block;
  width: 17px;
  height: 15px;
}

.manager {
  background: #F3F8FF url("https://svgshare.com/i/1AHw.svg") 0 30px/35% no-repeat;
}
@media (max-width: 767px) {
  .manager {
    background: #F3F8FF;
  }
}
.manager__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  column-gap: 32px;
  padding-top: clamp(15px, 3vw, 25px);
}
@media (max-width: 1300px) {
  .manager__wrapper {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .manager__wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    padding-bottom: 0;
  }
}
.manager__name {
  grid-column: 5/11;
  font-family: "Cera Pro", Helvetica, sans-serif;
  font-size: clamp(28px, 3vw, 50px);
  margin: 0 0 clamp(8px, 1vw, 10px);
}
@media (max-width: 1300px) {
  .manager__name {
    grid-column: 6/13;
  }
}
@media (max-width: 767px) {
  .manager__name {
    grid-column: 1;
  }
}
.manager__img {
  grid-column: 1/5;
  grid-row: 1/3;
  margin-top: auto;
}
@media (max-width: 1300px) {
  .manager__img {
    grid-column: 1/6;
  }
}
@media (max-width: 767px) {
  .manager__img {
    grid-column: 1;
    grid-row: auto;
    order: 1;
    margin-right: auto;
    margin-left: auto;
  }
}
.manager-info {
  grid-column: 5/11;
}
@media (max-width: 1300px) {
  .manager-info {
    grid-column: 6/13;
    grid-row: span 2;
  }
}
@media (max-width: 767px) {
  .manager-info {
    grid-column: 1;
    order: 3;
  }
}
.manager-info__text {
  padding: 0 70px 70px 75px;
}
@media (max-width: 1300px) {
  .manager-info__text {
    padding: 0 65px 0 0;
  }
}
@media (max-width: 767px) {
  .manager-info__text {
    padding: 0;
  }
}
.manager-info__faq {
  position: relative;
  font-size: clamp(18px, 2vw, 24px);
  margin: 0 0 clamp(8px, 1vw, 10px);
}
.manager-info__faq::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 58px;
  height: 38px;
  background: url("https://svgshare.com/i/1AGY.svg") center/contain no-repeat;
}
@media (max-width: 767px) {
  .manager-info__faq::before {
    display: none;
  }
}
.manager-info blockquote p {
  color: #9c9a9a;
}
.manager-info__owner {
  color: #9c9a9a;
}
.manager-info__owner strong {
  color: #000;
}
.manager-info__social-list {
  display: inline-flex;
  column-gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .manager-info__social-list {
    row-gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}
.manager-info-social-item__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 400;
  padding: 14px 20px;
  font-size: 14px;
}
.manager-info-social-item__link svg {
  width: 20px;
  height: 20px;
}
.manager-info-social-item--vk .manager-info-social-item__link svg {
  fill: rgb(255, 255, 255);
}
.manager-info-social-item--youtube .manager-info-social-item__link:hover svg, .manager-info-social-item--youtube .manager-info-social-item__link:focus svg {
  fill: #fe3831;
}
.manager-info-social-item--youtube .manager-info-social-item__link svg {
  fill: #0094da;
}
.manager-stats {
  grid-column: 11/13;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
  row-gap: 20px;
}
@media (max-width: 1300px) {
  .manager-stats {
    grid-column: 1/6;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .manager-stats {
    grid-column: 1;
    order: 2;
    flex-direction: row;
    column-gap: 10px;
    padding-top: 0;
  }
}
.manager-stats-item {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}
.manager-stats-item__exp {
  order: 1;
}
.manager-stats-item__exp-title {
  line-height: 1.2;
  max-width: 164px;
  order: 2;
}
.manager-stats-item__exp-value {
  font-size: clamp(32px, 3vw, 48px);
}
.manager-stats-item__rating {
  order: 1;
}
.manager-stats-item__rating-title {
  display: inline-flex;
  flex-direction: column;
  order: 2;
}
.manager-stats-item__rating-stars::before {
  content: "★★★★";
  color: #EE4122;
}
.manager-stats-item__rating-stars::after {
  content: "★";
  color: #D9D9D9;
}
.manager-stats-item__rating-value {
  font-size: clamp(32px, 3vw, 48px);
}
.manager-achievements {
  background-color: #f7f7f7;
}
.manager-achievements__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: clamp(20px, 3vw, 40px) 0 clamp(20px, 3vw, 40px);
}
.manager-achievements__list > * {
  grid-column: 3 span;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .manager-achievements__list > * {
    grid-column: 6 span;
  }
}
.manager-achievements-item {
  display: flex;
  max-width: 356px;
  align-items: center;
  column-gap: clamp(5px, 1vw, 20px);
}
@media (max-width: 767px) {
  .manager-achievements-item {
    column-gap: 10px;
  }
}
.manager-achievements-item__svg-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 75px;
  height: 103px;
}
.manager-achievements-item__svg-cnt svg {
  position: relative;
  width: 41px;
  height: 41px;
  left: -11px;
}
.manager-achievements-item__svg-cnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0094da;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
}
@media (max-width: 767px) {
  .manager-achievements-item__svg-cnt {
    flex: 0 0 47px;
    width: auto;
    height: 60px;
    margin-bottom: 0;
  }
  .manager-achievements-item__svg-cnt svg {
    width: 25px;
    height: 25px;
    left: -8px;
  }
}
.manager-achievements-item__text {
  font-family: "Cera Pro", Helvetica, sans-serif;
  font-size: clamp(14px, 1vw, 22px);
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
}
@media (max-width: 767px) {
  .manager-achievements-item__text {
    line-height: 1.3;
  }
}

/*# sourceMappingURL=style.css.map */
